openapi: 3.2.0
info:
  title: Fern Fern Ask API
  description: The Ask Fern API is Fern's hosted, public REST surface for the "Ask Fern" AI documentation-search feature.
  version: '1.0'
  contact:
    name: Fern
    url: https://buildwithfern.com
  license:
    name: Apache-2.0
    url: https://github.com/fern-api/fern/blob/main/LICENSE
servers:
- url: https://fai.buildwithfern.com
  description: Ask Fern API (production)
security:
- bearerAuth: []
tags:
- name: Ask
  description: Query indexed documentation for AI-generated, grounded answers.
paths:
  /ask:
    get:
      operationId: askFern
      tags:
      - Ask
      summary: Ask a question against indexed documentation
      description: Submit a natural-language question and receive an AI-generated answer grounded in the indexed documentation. (Query-parameter shape modeled from the documented Ask Fern feature; reconcile against the live reference. Some deployments expose the ask endpoint under https://buildwithfern.com/learn/api/fern-docs/ask.)
      parameters:
      - name: q
        in: query
        required: true
        description: URI-encoded natural-language question.
        schema:
          type: string
      responses:
        '200':
          description: A grounded answer with source references.
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                  sources:
                    type: array
                    items:
                      type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API token.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Bearer token generated with the `fern token` CLI command. Passed as `Authorization: Bearer YOUR_API_TOKEN`. Tokens are scoped to your organization and do not expire.'
